  
 <!-- ==master-menu===== -->
<div class="row">
    <div class="col-sm-12">
    <div class="step-to-step">
     <h2>Vendor Registration</h2> 
    <div class="step-n-y">
     <ul>
         <li class="active"><i class="fas fa-check"></i></li>
         <li class="active"><i class="fas fa-check"></i></li>
         <li class="active"i><i class="fas fa-check"></i></li>
         <li class="active"><i class="fas fa-check"></i></li>
         <li class="active"><i class="fas fa-check"></i></li>
         <li><i class="fas fa-check"></i></li>
         <li><i class="fas fa-check"></i></li>
         <li><i class="fas fa-check"></i></li>
     </ul>
    </div>
    </div>
    </div>
    </div>
       
    <div class="custom-y-md">
    <div class="com-text">
    <p class="mr-b">Business Information</p>
    
    <form method="post">
        <div class="registration-form">
          <div class="row">
                    <div class="col-md-3">
                      <h2>Ownership Profile</h2>
                      <div class="custom-slide-toggle">
                      <ul>
                        <li>
                          <span class="title-slider">Minority owned</span>
                           <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </li>
    
                        <li>
                          <span class="title-slider">Woman owner</span>
                           <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </li>
    
                        <li>
                          <span class="title-slider">Small business</span>
                           <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </li>
    
    
                        <li>
                          <span class="title-slider">Locally owned</span>
                           <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </li>
    
                        <li>
                          <span class="title-slider">Foreign entity indicator</span>
                           <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </li>
                      </ul>
    
                      </div>
                    </div>
    
                    <div class="col-md-6">
                      <h2>Ownership Profile</h2>
                      <div class="row">
                      <div class="col-md-6"> 
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> Organization Number  *</span></label>
                          <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
                        </div>
                      </div>
                    </div>
    
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> French Siret  *</span></label>
                          <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> National Registry number  *</span></label>
                          <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> Naf Code  *</span></label>
                          <select class="from-new has-empty">
                            <option selected="">Naf Code</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> Line of business  *</span></label>
                          <select class="from-new has-empty">
                            <option selected="">Line of business</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span>Tax Exempt Number *</span></label>
                          <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> Number of employees *</span></label>
                          <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
                        </div>
                      </div>
                    </div>
    
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> Fiscal Code *</span></label>
                          <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
                        </div>
                      </div>
                    </div>
    
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr_b_0">
                          <label class="form-label" for="login_password"><span> Federal Tex ID type  *</span></label>
                          <select class="from-new has-empty">
                            <option selected="">Federal Tex ID type </option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-6">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr_b_0">
                          <label class="form-label" for="login_password"><span> Federal tax ID  *</span></label>
                          <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
                        </div>
                      </div>
                    </div>
    
                  </div>
                  </div>
    
    
                <div class="col-md-3">
                  <h2>Ownership Profile</h2>
                  <div class="row">
                 <div class="col-md-12">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> Currency *</span></label>
                           <select class="from-new has-empty">
                            <option selected="">Currency</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div> 
    
                     <div class="col-md-12">
                      <div class="form-group" style="position: relative;">
                        <div class="pos-r mr-b-30">
                          <label class="form-label" for="login_password"><span> Terms of payment *</span></label>
                          <select class="from-new has-empty">
                            <option selected="">Terms of payment</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div> 
    
                </div>
                </div>
    
    
    
               </div>
                </div>
    </form>
    
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-12">
      <div class="custo-c-right-btn">
     <ul>
       <li><a href="#">Skip</a></li>
       <li><a routerLink="../procurement">Next</a></li>
       <li><a href="#">Next</a></li>
     </ul>
    
      </div> 
     </div>
    </div>
    
    
