<mat-dialog-content>
  <div class="modal-dialog modal-sm" style="margin:0px;width: 100%">
    <div class="modal-content">
      <div class="modal-header custom-m-chang">
        <div class="col-sm-10 col-md-10" style="padding-left:0px;">
          <h4 class="modal-title">{{data.heading}}</h4>
        </div>
        <div class="col-sm-2 col-md-2" style="padding:0px;">
          <i class="fas fa-times" (click)="onNoClick()" style="cursor:pointer;float:right"></i>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <p>{{data.content}}</p>
          </div>
          <div class="clearfix"></div>
          <div class="dialog-b-btn" style="text-align: right;padding-right: 30px;">
            <button [mat-dialog-close]="true">Confirm</button>
            <button type="button" mat-dialog-close>Cancel</button>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</mat-dialog-content>
