::ng-deep .mat-dialog-container {
  padding: 0px;
}

.modal-header.custom-m-chang {
  background: #162533;
  color: #fff;
  padding: 10px 10px;
}

.modal-dialog {
  margin: 200px auto;
}

.dialog-box-section {
  width: 100%;
  padding: 5px 0px 0px;
  text-align: center;
}

.dialog-box-section p {
  padding: 15px 0px 8px 0px;
  font-size: 13px;
  line-height: 25px;
  margin: 0px;
  text-align: center;
}

.dialog-icon {
  width: 100%;
  text-align: center;
}

.dialog-b-btn {
  width: 100%;
  padding-top: 10px;
}

.dialog-b-btn button {
  background: #3c4e62;
  border: none;
  color: #fff;
  padding: 7px 20px;
  font-size: 13px;
  margin-left: 10px;
  transition: 0.5s;
}

.dialog-b-btn button:hover {
  background: #162533;
}

.dialog-b-btn button:first-child {
  background: #162533;
}

.dialog-b-btn button:first-child:hover {
  background: #3c4e62;
}

/*
        **Forgot component copied css
        */
.custom-reset-popup.mat-card {
  width: 55%;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30%;
  background: #fff;
  border: 1px solid #8c8b8b;
  box-shadow: 2px 0px 2px 3px #d8d2d2;
  padding: 0px 0px;
}

.custom-reset-popup.mat-card input {
  width: 100% !important;
}

.login-section .mat-form-field {
  display: block;
}

.login-section .mat-form-field button {
  background: #000;
}

.login-section button {
  background: #293850;
  border: 0px;
  padding: 12px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  float: right;
  transition: 0.5s;
}

.login-section button:hover {
  background: #333;
}

.custom-reset-popup h2 {
  font-size: 15px;
  margin: 0px;
  padding: 15px 10px;
  display: block !important;
  background: #2b3b50;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.login-section {
  padding: 0px 15px 15px;
}

.mat-dialog-content {
  margin: 0px;
  padding: 0px;
}
