


<!-- ==master-menu===== -->
<div class="row">
<div class="col-sm-12">
<div class="step-to-step">
 <h2>Vendor Registration</h2> 
<div class="step-n-y">
 <ul *ngIf="firstpage">
     <li class="active"><i class="fas fa-check"></i></li>
     <li><i class="fas fa-check"></i></li>
     <li><i class="fas fa-check"></i></li>
     <li><i class="fas fa-check"></i></li>
     <li><i class="fas fa-check"></i></li>
     <li><i class="fas fa-check"></i></li>
     <li><i class="fas fa-check"></i></li>
     <li><i class="fas fa-check"></i></li>
 </ul>
 <!-- <ul *ngIf="!firstpage">
    <li class="active"><i class="fas fa-check"></i></li>
    <li class="active"><i class="fas fa-check"></i></li>
    <li class="active"><i class="fas fa-check"></i></li>
    <li class="active"><i class="fas fa-check"></i></li>
    <li class="active"><i class="fas fa-check"></i></li>
    <li class="active"><i class="fas fa-check"></i></li>
    <li class="active"><i class="fas fa-check"></i></li>
    <li class="active"><i class="fas fa-check"></i></li>
    
 </ul> -->
</div>
</div>
</div>
</div>

<div class="custom-y-md">
<div class="com-text" *ngIf="firstpage">
<p>Complete the registration process. Click Next to continue</p>
  
</div>
<div class="com-text" *ngIf="!firstpage">
    <p>Your registration has been submitted and you can close the page</p>
    
</div>
</div>
<div>
    
</div>
<div class="row">
<div class="col-md-12">
  <div class="custo-c-right-btn">
 <ul>
   <li><a href="#">Skip</a></li>
   <li><a routerLink="country">Next</a></li>
   <li><a href="#"  >Next</a></li>
 </ul>

  </div> 
 </div>
</div>




