<span [ngClass]="{'matMargin':mat}" *ngIf="formName.controls[controlName].hasError('required') && (formName.controls[controlName].touched || isFormInvalid)">
  {{(customControlName ? customControlName : controlName) | capitalize}} is required
</span>

<span [ngClass]="{'matMargin':mat}" *ngIf="(formName.controls[controlName].hasError('minlength') && !formName.controls[controlName].hasError('required') && !formName.controls[controlName].hasError('pattern')) && (formName.controls[controlName].touched || isFormInvalid)">
  Min length is {{formName.controls[controlName].errors.minlength.requiredLength}}
</span>

<span [ngClass]="{'matMargin':mat}" *ngIf="(formName.controls[controlName].hasError('maxlength') && !formName.controls[controlName].hasError('required') && !formName.controls[controlName].hasError('pattern')) && (formName.controls[controlName].touched || isFormInvalid)">
  Max length is {{formName.controls[controlName].errors.maxlength.requiredLength}}
</span>

<span [ngClass]="{'matMargin':mat}" *ngIf="(formName.controls[controlName].hasError('min') && !formName.controls[controlName].hasError('required') && !formName.controls[controlName].hasError('pattern')) && (formName.controls[controlName].touched || isFormInvalid)">
  Min is {{formName.controls[controlName].errors.min.min}}
</span>

<span [ngClass]="{'matMargin':mat}" *ngIf="(formName.controls[controlName].hasError('max') && !formName.controls[controlName].hasError('required') && !formName.controls[controlName].hasError('pattern')) && (formName.controls[controlName].touched || isFormInvalid)">
  Min is {{formName.controls[controlName].errors.max.max}}
</span>

<span [ngClass]="{'matMargin':mat}" *ngIf="(formName.controls[controlName].hasError('validEmail') && !formName.controls[controlName].hasError('required')) && (formName.controls[controlName].touched || isFormInvalid)">
  Invalid email
</span>

<span [ngClass]="{'matMargin':mat}" *ngIf="(formName.controls[controlName].hasError('pattern') && !formName.controls[controlName].hasError('required')) && (formName.controls[controlName].touched || isFormInvalid)">
  Invalid {{customControlName ? customControlName : controlName}}
</span>

<span [ngClass]="{'matMargin':mat}" *ngIf="validateEqual ? ( (formName.value[controlName] != formName.value[validateEqual])  && !formName.controls[controlName].hasError('required') && !formName.controls[controlName].hasError('minlength') && !formName.controls[controlName].hasError('maxlength')) && (formName.controls[controlName].touched || isFormInvalid) : ''">
  Password do not match
</span>
