
<div class="row">
<div class="col-sm-12">
<div class="step-to-step">
 <h2>Vendor Registration</h2> 
<div class="step-n-y">
 <ul>
     <li class="active"><i class="fas fa-check"></i></li>
     <li class="active"><i class="fas fa-check"></i></li>
     <li class="active"><i class="fas fa-check"></i></li>
     <li class="active"><i class="fas fa-check"></i></li>
     <li class="active"><i class="fas fa-check"></i></li>
     <li class="active"><i class="fas fa-check"></i></li>
     <li ><i class="fas fa-check"></i></li>
     <li ><i class="fas fa-check"></i></li>
 </ul>
</div>
</div>
</div>
</div>

<div class="custom-y-md">
<div class="com-text">
<p class="mr-b">Procurement Categories</p>
<p style="font-size: 12px;">Select Procurement Categories For the product or services that your company requests to provide</p>

<img src="/src/assets/img/filter-img.png" style="margin-top: 20px;">

</div>
</div>

<div class="row">
<div class="col-md-12">
  <div class="custo-c-right-btn">
 <ul>
   <li><a href="#">Skip</a></li>
   <li><a routerLink="../">Next</a></li>
   <li><a href="#">Next</a></li>
 </ul>

  </div> 
 </div>
</div>


