
 
 <section class="forgot-password">
 <div class="forgot-pass-bg">
 <div class="f-pass-logo">
   <img src="src/assets/img/logo.png">
   <p>Reset your password</p>
 </div> 
        <form [formGroup]="resetPswdForm" novalidate>
             <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="form-group" style="position: relative;">
                    <div class="pos-r mr_b_20">
                      <label class="form-label" for="contact"><span>New Password</span></label>
                      <input type="password" required="" name="password1" id="password1" class="from-new has-empty" value="">
                      <app-error-message [formName]="loginForm" controlName="login_password" customControlName="Password" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                       <div class="pos-r mr_b_20" >
                      <label class="form-label" for="contact"><span>Confirm New Password</span></label>
                      <input type="password" required="" name="password2" id="password2" class="from-new has-empty" value="">
                      <app-error-message [formName]="loginForm" controlName="login_password" customControlName="Password" [isFormInvalid]="isFormInvalid"></app-error-message>
                    </div>
                     <!-- <div class="icon-n"><img src="img/user.png"></div> -->
                  </div>
                </div>
               
            
                 <div class="col-md-12">
                  <button type="submit" (click)="submitResetPswdForm()">Submit <i class="fas fa-arrow-right"></i></button>
                </div>

              </div>
              </form>

 </div> 
 </section>




