<aside class="left-navbar-section">
  <div class="top-nav">
  <span><img src="/src/assets/img/logo.png"></span> 
  <div class="nav-bar-icon"><i class="fas fa-bars"></i></div> 
  <div class="nav-bar-icon2"><i class="fas fa-times"></i></div> 
  </div> 
 
 <div class="nav-section">
 <ul>
   <li>
     <a href="#"><img src="/src/assets/img/icon/profile.png"> <span>Profile</span></a>
   </li>
 
   <li>
     <a href="#" class="active"><img src="/src/assets/img/icon/rfq.png"> <span>RFQ</span></a>
   </li>
 
   <li>
     <a href="#"><img src="/src/assets/img/icon/p-o.png"> <span>Purchase order</span></a>
   </li>
  
 </ul>
 </div>
 
 </aside>
 
<div class="right-content-section">
  <div class="right-nav">
   <div class="r-content-nav">
   <div class="row">  
    <div class="col-5 col-sm-6 col-md-9">
       <div class="mobile-menu">
    <i class="fas fa-bars"></i> 
    </div>
    <div class="h2-heading" data-toggle="modal" data-target="#myModal"><h2>Profile</h2></div>
  
    </div>
    <div class="col-7 col-sm-6 col-md-3">
      <div class="user-cont-r">
      <div class = "media">
      <div class = "media-body">
      <h4 class = "media-heading" id="admin-login">Deepak Tiwari <span><i class="fa fa-chevron-down" aria-hidden="true" title=""></i></span></h4>
      </div>
      </div>
      </div>
      </div>
    </div>
  
    <div class="country-tab" style="display: none;">
            <ul>
              <li>
                <a href="#"><i class="fas fa-user"></i> Your Profile</a>
              </li>
              <li>
               <a href="#"><i class="fas fa-pencil-alt"></i> Edit Account</a>
              </li>
               <li>
               <a href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
              </li>
            </ul>
          </div>
  
   </div>
  </div> 
  
  <div class="right-panel-main-db">
      <!-- ==master-menu===== -->

      <router-outlet> </router-outlet>
    </div>
</div>

