/* body{
	margin: 0px;
	padding: 0px;
	font-family: 'Muli', sans-serif;
    height: 100vh;
} */

a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}

/*====left-section-start=====*/

.left-navbar-section {
    background: #373b5f;
    padding: 0px;
    width: 230px;
    position: fixed;
    z-index: 1;
    height: 100vh;
    transition: all 300ms ease-in-out;
}

.top-nav {
    background: #fff;
    padding: 5px 20px;
    border-right: 1px solid #f1eded;
    width: 100%;
    display: table;
    z-index: 2;
    border-bottom: #23262d solid 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top-nav span {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    float: left;
    display: inline-block;
}

.nav-bar-icon {
    display: inline-block;
    float: right;
}

.nav-bar-icon i {
    color: #333;
    font-size: 22px;
    margin-top: 0px;
    cursor: pointer;
    padding: 1px;
    margin-top: 12px;
    padding-bottom: 12px;
    border-radius: 50%;
    text-align: center;
}

.nav-section{
    width: 100%;
    padding: 0px 0px;
}

.nav-section ul{
    margin: 0px;
    padding: 0px;
}

.nav-section ul li{
    display: block;
    position: relative;
}

.nav-section ul li a{
    font-size: 13px;
    border-left: 4px solid #323641;
    color: #fff;
    padding: 16px 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: block;
    transition: 0.5s;
    border-bottom: 1px solid #41456b;
}

.nav-section ul li a.active{
    border-left: 4px solid #d5dde0;
    background-color: #262c48;
}

.nav-section ul li a:hover{
    background-color: #262c48;
    border-left: 4px solid #262c48;
}

.nav-section ul li a img {
    margin-right: 7px;
}

.h2-heading {
    width: 100%;
}

.h2-heading h2 {
    margin: 0px;
    color: #333;
    font-size: 13px;
    padding: 16px 0px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ad-lef-m .top-nav span {
    display: none;
}

.ad-lef-m .nav-bar-icon span {
    display: none;
}

.ad-lef-m .nav-bar-icon {
    float: none;
    width: 100%;
    text-align: center;
}

.ad-lef-m .nav-section ul li a span {
    display: none;
}

.ad-lef-m .nav-section ul li a:hover span {
    display: block;
    position: absolute;
    left: 80px;
    width: 200px;
    background: #373b5f;
    padding: 17px 15px;
    text-align: left;
    top: 0px;
}

.ad-lef-m .nav-section ul li a{
    display: block;
    text-align: center;
}

.ad-lef-m .user-name{
    display: none;
}

.ad-lef-m button{
    padding: 4px 6px;
    font-size: 9px;
}

.ad-lef-m{
    width: 80px;
} 

#admin-login{
    cursor: pointer;
    padding-top: 4px;
}

.add-right-m{
    margin-left: 80px !important;
}


/*========right-section-start======*/

.right-content-section {
    background: #efeff6;
    padding: 0px;
    margin-left: 230px;
    height: 100vh;
    transition: all 300ms ease-in-out;
}

.right-panel-main-db {
    padding: 0px 25px 10px;
    position: relative;
}

.custom-y-md{
    padding: 20px;
    background: #fff;
    margin-bottom: 0px;
    width: 100%;
    display: block;
    height: 400px;
    box-shadow: 0px 0px 5px 1px #ddd;
    overflow-y: auto;
    overflow-x: hidden;
}

.r-content-nav {
    padding-right: 15px;
}

/*====right-top-nav-start======*/

.right-nav{
    background: #fff;
    width: 100%;
    box-shadow: 2px 2px 2px 2px #ddd;
    margin-bottom: 20px;
    padding: 5px 20px;
    display: table;
}


.user-cont-r img {
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4px;
}

.user-cont-r h4 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 13px;
    margin-left: 3px;
    color: #333;
}

.user-cont-r h4 i {
    margin-left: 7px;
}

.user-cont-r .media {
    margin: 5px 0px;
}

.user-cont-r {
    float: right;
    width: 235px;
    text-align: right;
}

.mobile-menu, .nav-bar-icon2 {
    display: none;
}

.country-tab {
    width: 195px;
    position: absolute;
    right: 25px;
    top: 57px;
    background: #373b5f;
    z-index: 100;
    display: none;
    }
    
    .country-tab ul {
        margin: 0px;
        padding: 0px;
    }
    
    .country-tab ul li {
        list-style: none;
        border-bottom: 1px solid #595c7d;
    }
    
    .country-tab ul li:last-child{
      border-bottom: none;
    }
    
    .country-tab ul li span {
        font-size: 13px;
        font-weight: 600;
        margin-left: 14px;
    }
    
    .country-tab ul li img {
        width: 31px;
        height: 20px;
    }
    
    .country-tab ul li a {
    color: #fff;
    display: block;
    transition: 0.5s;
    font-size: 12px;
    padding: 10px 15px;
    }
    
    .country-tab ul li a i{
    margin-right: 5px;
    }
    
    .country-tab ul li a:hover{
    background: #262c48;
    }
/*====right-top-nav-end======*/


/*==profile-p===*/


.step-to-step {
    padding: 0px;
    margin: 0px;
}

.step-to-step h2 {
    font-size: 16px;
    padding: 5px 0px;
    margin: 0px;
    font-weight: 600;
}

.step-n-y {
    width: 100%;
    padding: 20px 0px 25px;
    display: table;
}

.step-n-y ul {
    margin: 0px;
    padding: 0px;
}

.step-n-y ul li {
    list-style: none;
    width: 25px;
    height: 25px;
    float: left;
    background: #b3b3b4;
    border-radius: 50%;
    margin-right: 70px;
    text-align: center;
    color: #fff;
    padding: 4px;
    font-size: 12px;
    position: relative;
}

.step-n-y ul li.active{
    background: #3085b9;
}

.step-n-y ul li.active:after{
   background: #3085b9; 
}

.step-n-y ul li:after {
    content: "";
    width: 70px;
    background: #b3b3b4;
    height: 2px;
    position: absolute;
    left: 25px;
    top: 12px;
}

.step-n-y ul li:last-child:after{
    display: none;
}


.custom-bt-btn-section {
    width: 100%;
    display: block;
    clear: both;
    border-bottom: 1px solid #eeeded;
    border-top: 1px solid #eeeded;
    padding: 10px 20px;
    margin-top: 20px;
    float: left;
}

.custo-c-right-btn {
    width: auto;
    text-align: right;
    padding: 22px 0px 15px;
}

.custo-c-right-btn ul {
    margin: 0px;
    padding: 0px;
}

.custo-c-right-btn ul li:first-child a {
    background: #243547;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.custo-c-right-btn ul li:first-child a:hover{
    opacity: 0.8;
}

.custo-c-right-btn ul li:nth-child(2) a {
    background: #3085b9;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.custo-c-right-btn ul li:nth-child(2) a:hover{
    opacity: 0.8;
}

.custo-c-right-btn ul li:last-child a{
    background: #98a4a4;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.custo-c-right-btn ul li:last-child a:hover{
    opacity: 0.8;
}

.custo-c-right-btn ul li {
    list-style: none;
    display: inline-block;
    margin-left:10px;
}

/*******Responsive******/

@media(max-width: 767px){


.left-navbar-section{
    display: none;
    width: 100%;
}

.right-content-section{
    margin-left: 0px;
}

.mobile-menu {
    display: block !important;
    transition: all 300ms ease-in-out;
    margin: 0px;
    z-index: 10000;
    float: left;
    margin-right: 10px;
}



.user-cont-r{
    width: 100%;
}

.h2-heading h2{
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.mobile-menu i {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

.mobile-menu .nav-bar-icon{
    display: none;
}


.mobile-menu .nav-bar-icon2 {
    color: #fff;
    float: right;
    display: block;
    margin-top: 14px;
}

.mobile-menu .nav-bar-icon2 i {
    margin: 0px;
}

.copy-right{
    padding-left: 0px;
    font-size: 13px;
}


.step-n-y ul li{
    width: 15px;
    height: 15px;
    padding: 3px;
    font-size: 7px;
    margin-right: 50px;
    margin-bottom: 15px;
}

.step-n-y ul li:after{
    left: 10px;
    top: 7px;
}

.step-n-y{
    padding: 20px 0px 5px;
}

.com-text p{
    font-size: 12px;
    line-height: 25px;
}

.custom-y-md{
    height: auto;
}

.custo-c-right-btn ul li:first-child a, .custo-c-right-btn ul li:nth-child(2) a, .custo-c-right-btn ul li:last-child a{
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 10px;
}

.nav-section ul li a{
     font-size: 10px;
}

.nav-section ul li a span {
    top: 2px;
    position: relative;
}

}

