.error {
  color: red;
  font-size: 12px;
  padding: 4px 0px;
  display: block;
  position: absolute;
}


.com-text {
    width: 100%;
}

.com-text p {
    margin: 0px;
    font-weight: 600;
    font-size: 14px;
}



.deta-filter {
    width: 400px;
    margin-top: 30px;
}

.deta-filter input {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    padding: 10px 40px;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.custom-search-f i {
    position: absolute;
    top: 13px;
    font-size: 14px;
    left: 15px;
    color: #848484;
}




.traning-table-fourth-section table thead tr th {
    color: #fff;
    padding: 5px 5px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    background: #e6e4e4;
}

.traning-table-fourth-section table tbody tr td {
    border: 1px solid #d5d3d3;
    padding: 6px 20px;
    text-align: left;
    font-size: 11px;
  }

.traning-table-fourth-section table tbody tr td button {
    background: transparent;
    border: none;
    outline: none;
    padding: 2px 8px;
}


.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #5eacdd;
}
.styled-checkbox:hover + label:before {
  background: #5db5e6;
}
/*.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgb(188, 189, 190);
}*/
.styled-checkbox:checked + label:before {
  background: #5eacdd;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}


.traning-table-fourth-section input {
    height: auto;
    position: relative;
    width: 100%;
    padding: 5px;
    font-size: 10px;
}

.traning-table-fourth-section input[type=checkbox]{
    width: auto;
    height: auto;
    top: 3px;
}

.traning-table-fourth-section .table thead th{
      border-bottom: 2px solid #bdb9b9;
}

.traning-table-fourth-section {
    height: 250px;
    overflow: auto;
    overflow-x: hidden;
}


/*====profile-2====*/

.pos-r {
    position: relative;
    margin-bottom: 40px;
}

.pos-r .form-label {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    cursor: text;
    color: #6f6d6d;
    font-size: 11px;
    font-weight: 500;
    background: #fff;
    position: absolute;
    padding: 0px 10px;
    top: -7px;
    letter-spacing: 1px;
    left: 8px;
    font-weight: bold;
}

.from-new {
    display: block;
    width: 100%;
    border: none;
    padding: 15px 10px 10px 15px;
    background: transparent;
    border: 1px solid #bdbcbc;
    color: #222;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    height: 45px;
}

.mr-b{
  margin-bottom: 20px !important;
}

.mr-b-30{
  margin-bottom: 30px !important;
}

.custom-tab-edit {
    width: 100%;
    padding-bottom: 12px;
}

.custom-tab-edit ul {
    margin: 0px;
    padding: 0px;
}

.custom-tab-edit ul li {
    display: inline-block;
    font-size: 12px;
    margin-right: 13px;
    font-weight: 600;
}

.custom-tab-edit ul li i {
    margin-right: 4px;
    font-size: 10px;
}

.custom-tab ul li a {
    display: inline-block;
    padding: 8px 20px;
    border-right: 1px solid #ddd;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
}

div#myTabContent {
    border: 1px solid #ddd;
    border-top: none;
    padding: 15px;
}

.custom-tab .nav-tabs{
    border: 1px solid #dee2e6;
    /* border-bottom: none; */
}

.custom-tab a.active {
    background: #373b5f;
    color: #fff;
}

.custom-tab .tab-content p {
    font-size: 12px;
    line-height: 22px;
    color: #6b6a6a;
}



/*===profile3=======*/

.custom-width{
  -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 20%;
    max-width: 20%;
}

.mr_b_0{
  margin-bottom: 0px;
}


.switch {
    display: inline-block;
    width: 45px;
    height: 16px;
    margin-bottom: 0px;
    top: 4px;
    position: relative;
}



.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f17c7c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom-slide-toggle input:checked + .slider {
  background-color: #4c4e55;
}

.custom-slide-toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.custom-slide-toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.custom-slide-toggle {
    width: 100%;
}

.custom-slide-toggle ul {
    margin: 0px;
    padding: 0px;
}

.custom-slide-toggle ul li span.title-slider {
    display: block;
    font-size: 12px;
    padding: 5px 0px;
}

.custom-slide-toggle ul li {
    list-style: none;
}



.custom-new-table table thead tr th {
    background: #3396d0;
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    border: none;
    border-right: 1px solid #e8e6e6;
}

.custom-new-table table tbody tr td {
    border: 1px solid #d5d3d3;
    padding: 7px 15px;
    text-align: left;
    font-size: 11px;
}


.pagination-sec {
    width: 100%;
    padding-top: 20px;
    text-align: right;
}

.pagination-sec ul {
    margin: 0px;
}

.pagination-sec ul li a {
    font-size: 12px;
    color: #333;
}

.page-link:focus{
  box-shadow: none;
}

.cu-title {
    font-size: 13px;
    width: 100%;
    padding-bottom: 20px;
}

.request-case p {
    font-weight: 600;
}

.request-case span {
    font-size: 11px;
    color: #8a8989;
}

.custom-rfq-price {
    margin-top: 200px;
    padding-left: 50px;
}

.custom-rfq-price p {
    font-weight: bold;
    padding-bottom: 5px;
}

.custom-rfq-price span {
    font-size: 11px;
}

.mr-b-0{
  margin-bottom: 0px !important;
}

.registration-form h2 {
    font-size: 12px;
    display: block;
    width: 100%;
    font-weight: 600;
    padding-bottom: 20px;
    padding-left: 10px;
}