@media(max-width: 1024px){
	.import-excel button{
		padding: 10px 10px;
	}

	.pagination > li > a, .pagination > li > span{
	padding: 6px 10px;
}

.step-n-y ul li{
	margin-right: 65px;
}

.step-n-y ul li:after{
	width: 65px;
}

}


@media(max-width: 800px){
	.custom-y-md{
	display: block;
}

.traning-table-section {
    overflow: auto;
}

.step-n-y ul li{
	margin-right: 36px;
}

.step-n-y ul li:after{
	width: 37px;
}

.pos-r .form-label{
	font-size: 8px;
}

}

@media(max-width: 767px){

.right-panel-main-db{
	/*padding: 10px 5px;*/
}
.user-cont-r h4{
	font-size: 11px;
}

.deta-filter{
	width: auto;
}

.right-content-section{
	height: auto;
}

ul#myTab li {
    display: block;
    width: 100%;
}

ul#myTab li a {
    display: block;
    border-bottom: 1px solid #ddd;
}

.custom-width{
	 flex: 0 0 100%;
	max-width: 100%;
}

.custom-new-table {
    width: 100%;
    overflow: auto;
}

.custom-new-table table thead tr th{
	    font-size: 11px;
}

.custom-rfq-price{
	margin-top: auto;
	padding-left: 0px;
}

}

