@media(min-width: 1400px){

.login-form-sec{
	width: 88.5%;
}

}


@media(max-width: 1280px){
	.login-form-sec{
		width: 83.5%;
	}

	.login-form-sec:after{
		width: 24%;
	}
}

@media(max-width: 1024px){
	.login-form-sec {
    width: 79.5%;
}

	.login-mid-w{
		padding: 20px 30px;
	}

.login-form-sec:after{
	width: 31%;
}

.login-right ul li a{
	font-size: 12px;
}

.login-mid-w{
	width: 100%;
}

}

@media(max-width: 800px){

.login-form-sec:after{
    transform-origin: bottom left;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-14.8deg, 0deg);
}

.login-left-section .logo{
	width: 70px;
	margin-bottom: 22px;
}

.btn-r a{
	padding: 6px 10px;
	font-size: 10px;
}

.login-bg-section{
	background-size: 51.8%;
}

.login-form-sec:after {
    width: 33%;
}

.login-right ul{
	margin-top: 70px;
}

.login-right ul li a i {
    font-size: 12px;
    margin-right: 3px;
}

.login-right ul li a{
	font-size: 11px;
}

}

@media(max-width: 767px){
	.login-bg-section{
		background-image: none;
	}

	.login-form-sec{
		width: 100%;
	}

	.login-form-sec:after{
		display: none;
	}

	.login-right-img {
    background: #39b2a2;
    padding: 20px;
	}

	.login-right{
		text-align: left !important;
		padding: 15px 0px;
	}

	.btn-r a{
		width: 100%;
		border-radius: 0px !important;
	}

	.login-right ul{
		margin-top: 20px;
	}

	.login-section button{
		width: 100%;
		border-radius: 0px;
	}

	.login-left-section .logo{
		margin: auto;
	    padding-bottom: 30px;
	}

	.login-form-sec{
		padding: 0px;
	}

	.login-left-section .logo{
		width: 120px;
	}

	.login-left-section{
		padding: 15px 0px;
	}

	.login-right-img{
		margin-top: 20px;
	}

	.custom-registration-l{
		height: auto;
		padding: 30px 15px;
	}

	.custom-regi-right{
		height: auto;
	}

	.pd-l{
	padding-left: 15px;
	}

	.pd-r{
	padding-right: 15px;
	}

	.custom-regi-right img{
		position: relative;
	}

	.custom-regi-right:before {
	display: none;
}

 .registation-btn button{
	width: 100%;
	padding: 11px 10px;
	 font-size: 14px;
 }

 .btn-text{
 	font-size: 12px;
    text-align: center;

 }

 .custom-registration-l .logo {
    margin: auto;
    padding-bottom: 30px;
}

.custom-registration-l .logo {
    width: 120px;
}

.registration-form{
	padding: 30px 0px 0px;
}

}
