body{
	margin: 0px;
	padding: 0px;
	font-family: 'Muli', sans-serif;
	color: #000;
	background: #f4f4f4;
}

/*====login-section====*/

.mr_0{
	margin: 0px;
}

.login-left-section {
    padding: 40px 0px;
}

.login-bg-section {
    width: 100%;
    display: block;
    background: url(../img/login-bg.png) no-repeat top right;
    height: 100vh;
    background-size: 52.8%;
}


.login-form-sec{
    padding: 10px 20px 0px 0px;
    font-size: 20px;
    position: relative;
    width: 86.9%;
    position: relative;
    background: #fff;
    box-shadow: -1px 3px 22px 0px #d1cfcf;
}

.login-form-sec:after{
	content: " ";
    position: absolute;
    display: block;
    width: 22%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    transform-origin: bottom left;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-18.8deg, 0deg);
}

.login-left-section .logo {
	margin-bottom: 40px;
    position: relative;
    z-index: 100000;
    width: 110px;
}

.btn-r a {
    background: #e0e9ed;
    font-weight: 600;
    border-radius: 20px;
    font-size: 13px;
    color: #000000;
    letter-spacing: 1px;
    padding: 8px 18px;
    transition: 0.5s;
}

.btn-r a:hover{
	opacity: 0.8;
}

.login-right {
    padding: 40px 0px;
}

.login-right ul {
    margin-top: 170px;
    padding: 0px;
}

.login-right ul li {
    text-align: left;
    list-style: none;
}

.login-right ul li a {
    color: #FFF;
    padding: 12px 0px;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.login-right ul li a:hover{
	text-decoration: none;
	opacity: 0.8;
}

.login-right ul li a i {
    margin-right: 10px;
    font-size: 14px;
}



/*=======login=========*/

.pos-r {
    position: relative;
    margin-bottom: 40px;
}

.pos-r .form-label {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    cursor: text;
    color: #6f6d6d;
    font-size: 11px;
    font-weight: 500;
    background: #fff;
    position: absolute;
    padding: 0px 10px;
    top: -7px;
    letter-spacing: 1px;
    left: 8px;
    font-weight: bold;
}

.from-new {
    display: block;
    width: 100%;
    border: none;
    padding: 15px 10px 10px 15px;
    background: transparent;
    border: 1px solid #bdbcbc;
    color: #222;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    height: 45px;
}

.login-section button {
	background: #256eb7;
    border: none;
    color: #fff;
    float: right;
    border: none;
    outline: none;
    padding: 7px 25px;
    font-size: 13px;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 20px;
}

.login-section button:hover {
    background: #333;
}

.checkbox {
	font-size: 11px;
    margin-top: 0px;
    padding: 0px 0px 15px;
}

.f-p {
    color: #898888;
    text-align: left;
}

.login-section {
    width: 100%;
    /*padding: 25px 30px 0px 30px;*/
    position: relative;
    z-index: 10000000;
}

.checkbox span {
    color: #252525;
    font-weight: 600;
    margin-left: 5px;
    letter-spacing: 0.5px;
}

.rty {
    font-size: 11px;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 500;
    padding-bottom: 2px;
    padding: 13px 0px;
    margin-top: 5px;
    color: #000;
    /*background: #f4f7f7;*/
    z-index: -1;
    position: relative;
    padding-right: 100px;

    background: -moz-linear-gradient(-45deg, rgba(244,247,247,1) 84%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(244,247,247,1) 84%,rgba(255,255,255,0) 100%);
    background: linear-gradient(135deg, rgba(244,247,247,1.0) 75%,rgba(255,255,255,0) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7f7', endColorstr='#00ffffff',GradientType=1 );
   }

.rty a {
    margin-left: 5px;
}

.checkbox span input {
    top: 10px;
    position: relative;
}

.checkbox input {
    top: 2px;
    position: relative;
}

div#forgot-click a {
    color: #7d7e7e;
}

.login-section h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    padding-bottom: 15px;
    margin-bottom: 45px;
    position: relative;
}

.login-section h1:after {
    content: "";
    height: 2px;
    width: 100px;
    background: #4682b9;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

div#forgot-click {
    padding: 10px 0px;
}

.login-mid-w {
    padding: 25px 30px;
    width: 80%;
}


/*=====registration======*/

.custom-registration-l {
    background: #fff;
    padding: 30px;
    height: 100vh;
}

.registration-form {
    width: 100%;
    padding: 70px 0px 0px;
}

.Registration-bg-section {
    /*background: #fff;*/
    height: 100vh;
}


.registation-btn {
    text-align: right;
}

.registation-btn button {
    background: #0195d3;
    color: #fff;
    border-radius: 0px;
    font-size: 15px;
    letter-spacing: 0.4px;
    padding: 11px 45px;
    outline: none;
    transition: 0.5s;
}

.btn-text {
	padding-top: 15px;
    font-size: 14px;
    text-align: right;
    font-weight: 600;
    color: #171616;
}

.btn-text a {
    margin-left: 5px;
}

.registation-btn button:hover {
    background: #333;
}

.custom-regi-right{
	background: #8ad2d1;
    height: 100vh;
    position: relative;
}

.custom-regi-right {
	position: relative;
}
.custom-regi-right:after, .custom-regi-right:before {
	right: 100%;
	top: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.custom-regi-right:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 20px;
	margin-top: -20px;
}
.custom-regi-right:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #8ad2d1;
	border-width: 18px;
	margin-top: -20px;
}

.custom-regi-right img {
    bottom: 0px;
    position: absolute;
}

.pd-l{
	padding-left: 0px;
}

.pd-r{
	padding-right: 0px;
}
/*=====forgot-password=====*/

section.forgot-password {
    background: #e6e5e5;
    height: 100vh;
}

.forgot-pass-bg {
    background: #fff;
    width: 306px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
        box-shadow: -1px 3px 22px 0px #d1cfcf;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.f-pass-logo {
    width: 100%;
    text-align: center;
    padding: 15px 0px 40px;
}

.f-pass-logo img {
    width: 100px;
}

.forgot-pass-bg button{
    background: #0195d3;
    color: #fff;
    border-radius: 0px;
    font-size: 14px;
    letter-spacing: 0.4px;
    padding: 10px 45px;
    outline: none;
    transition: 0.5s;
    border: none;
    width: 100%;
    cursor: pointer;
}

.forgot-pass-bg button:hover{
    background: #333;
}

.f-pass-logo p {
    margin: 0px;
    padding-top: 20px;
    font-size: 13px;
}