<section class="login-bg-section">

  <div class="container">

    <div class="row mr_0">
      <div class="col-md-8">
        <div class="login-left-section">
          <div class="logo">
            <a href="#">
              <img src="../../../assets/img/logo.png" class="img-fluid">
            </a>
          </div>

          <div class="login-form-sec" *ngIf="!showForgotPswdForm">

            <div class="login-section">
              <div>
                <div class="login-mid-w">
                  <h1>Login</h1>
                  <form [formGroup]="loginForm" novalidate>
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <div class="form-group" style="position: relative;">
                          <div class="pos-r">
                            <label class="form-label" for="contact">
                              <span> Email Address *</span>
                            </label>
                            <input type="email" formControlName="login_email" class="form-control from-new has-empty" placeholder="Email"   required>
                            <!-- <div
                              *ngIf= "loginForm.get('login_email').errors &&loginForm.get('login_email').dirty && loginForm.get('login_email').errors.validEmail">
                                Invalid email
                              </div> -->

                            <app-error-message [formName]="loginForm" controlName="login_email" customControlName="Email id" [isFormInvalid]="isFormInvalid"></app-error-message>
                          </div>

                          <!-- <div class="icon-n"><img src="img/user.png"></div> -->
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-12">
                        <div class="form-group" style="position: relative;">
                          <div class="pos-r" >
                            <label class="form-label" for="login_password">
                              <span> Password*</span>
                            </label>
                            <input [type]="showPassword ? 'text' : 'password'"  formControlName="login_password" class=" form-control from-new has-empty" placeholder="Password"  required>
                            <span ng-if="editinfo.password"
                            (click)="toggleShowPassword()"
                            style="cursor: pointer; pointer-events: all;float: right;           position: absolute;top: 10px; right: 10px;             ">
                            <i *ngIf="showPassword" class="fa fa-eye" aria-hidden="true"></i>
                            <i *ngIf="!showPassword" class="fa fa-eye-slash" aria-hidden="true"></i>
                          </span>
                            
                            <app-error-message [formName]="loginForm" controlName="login_password" customControlName="Password" [isFormInvalid]="isFormInvalid"></app-error-message>
                          </div>
                        </div>
                      </div>

                      <div class="clearfix"></div>
                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" formControlName="remember" value="yes" >
                            <span>Remember me</span>
                          </label>
                        </div>
                      </div>

                      <div class="col-xs-6 col-md-6">
                        <div class="checkbox f-p" id="forgot-click">
                          <span  (click)="gotoforgotPswd()">Forgot Password</span>
                        </div>
                      </div>


                      <div class="col-xs-6 col-md-6 l-btn">
                        <button type="submit" (click)="submitLoginForm()">Login
                          <i class="fas fa-arrow-right"></i>
                        </button>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
              <div class="rty">
                <div class="z-index">New User?
                  <a href="#" routerLink="/signup">Create Account</a>
                </div>
              </div>
            </div>
          </div>
<!-- sapna  forgot pswd  -->
          <div class="login-form-sec" *ngIf="showForgotPswdForm">

            <div class="login-section">
              <div>
                <div class="login-mid-w">
                  <h1>Forgot Password?</h1>
                  <form [formGroup]="forgotPswdForm" novalidate>
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <div class="form-group" style="position: relative;">
                          <div class="pos-r">
                            <label class="form-label" for="contact">
                              <span> Email Address *</span>
                            </label>
                            <input type="email" formControlName="forgotPswd_email" class="form-control from-new has-empty" placeholder="Enter Email to reset password"   required>

                            <app-error-message [formName]="forgotPswdForm" controlName="forgotPswd_email" customControlName="Email id" [isFormInvalid]="isFormInvalid"></app-error-message>
                          </div>

                        </div>
                      </div>
                      <div class="col-xs-9 col-md-9 ">
                        <button type="submit" (click)="gotoLoginForm()">Cancel
                        </button>
                      </div>
                      <div class="col-xs-3 col-md-3 l-btn">
                        <button type="submit" (click)="submitLoginForm()">Submit
                          <!-- <i class="fas fa-arrow-right"></i> -->
                        </button>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
<!-- code ends -->
        </div>
      </div>

      <div class="col-md-4 float-right">
        <div class="login-right-img">
          <div class="login-right text-right">
            <div class="btn-r">
              <a href="#" class="btn" routerLink="/signup">Request For Registration</a>
            </div>

            <ul>
              <li>
                <a href="#">
                  <i class="fas fa-arrows-alt"></i> Contrary to popular belief,</a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-arrows-alt"></i> Lorem Ipsum is not simply random text. </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-arrows-alt"></i> There are many variations of passages of Lorem</a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-arrows-alt"></i> The standard chunk of Lorem Ipsum used since</a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-arrows-alt"></i> It is a long established fact that a reader </a>
              </li>

            </ul>

          </div>
        </div>
      </div>



    </div>
  </div>
</section>