<!-- ==master-menu===== -->
<div class="row">
    <div class="col-sm-12">
    <div class="step-to-step">
     <h2>Vendor Registration</h2> 
    <div class="step-n-y">
     <ul>
         <li class="active"><i class="fas fa-check"></i></li>
         <li class="active"><i class="fas fa-check"></i></li>
         <li class="active"><i class="fas fa-check"></i></li>
         <li ><i class="fas fa-check"></i></li>
         <li><i class="fas fa-check"></i></li>
         <li><i class="fas fa-check"></i></li>
         <li><i class="fas fa-check"></i></li>
         <li><i class="fas fa-check"></i></li>
     </ul>
    </div>
    </div>
    </div>
    </div>
    
<div class="custom-y-md">
  <div class="com-text">
    <p class="mr-b">General Information</p>

    <form method="post">
      <div class="registration-form1">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group" style="position: relative;">
              <div class="pos-r">
                <label class="form-label" for="contact">
                  <span> Name *</span>
                </label>
                <input type="email" required="" name="login_email" id="login_email" class="from-new has-empty" value="">

              </div>
              <!-- <div class="icon-n"><img src="img/user.png"></div> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" style="position: relative;">
              <div class="pos-r">
                <label class="form-label" for="login_password">
                  <span> Doing Business *</span>
                </label>
                <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
              </div>
              <!-- <div class="icon-n"><img src="img/password.png"></div> -->

            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group" style="position: relative;">
              <div class="pos-r">
                <label class="form-label" for="login_password">
                  <span> Organization type *</span>
                </label>
                <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
              </div>
              <!-- <div class="icon-n"><img src="img/password.png"></div> -->

            </div>
          </div>

        </div>


        <div class="row">
          <div class="col-md-3">
            <div class="form-group" style="position: relative;">
              <div class="pos-r">
                <label class="form-label" for="contact">
                  <span> Telephone *</span>
                </label>
                <input type="email" required="" name="login_email" id="login_email" class="from-new has-empty" value="">

              </div>
              <!-- <div class="icon-n"><img src="img/user.png"></div> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" style="position: relative;">
              <div class="pos-r">
                <label class="form-label" for="login_password">
                  <span> Fax *</span>
                </label>
                <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
              </div>
              <!-- <div class="icon-n"><img src="img/password.png"></div> -->

            </div>
          </div>


          <div class="col-md-3">
            <div class="form-group" style="position: relative;">
              <div class="pos-r">
                <label class="form-label" for="login_password">
                  <span> Email *</span>
                </label>
                <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
              </div>
              <!-- <div class="icon-n"><img src="img/password.png"></div> -->

            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group" style="position: relative;">
              <div class="pos-r">
                <label class="form-label" for="login_password">
                  <span> Website *</span>
                </label>
                <input type="password" required="" name="login_password" id="login_password" class="from-new has-empty">
              </div>
              <!-- <div class="icon-n"><img src="img/password.png"></div> -->

            </div>
          </div>

        </div>

      </div>
    </form>

    <p class="mr-b">Address Information</p>
    <div class="custom-tab-edit">
      <ul>
        <li style="color: #3085b9;">
          <i class="fas fa-plus"></i> Add</li>
        <li>
          <i class="fas fa-edit"></i> Edit</li>
        <li style="color: #3085b9;">More options
          <i class="fas fa-chevron-down"></i>
        </li>
      </ul>
    </div>

    <div class="custom-tab">
      <ul id="myTab" class="nav nav-tabs">
        <li>
          <a href="#name-des" class="active" data-toggle="tab">Home </a>
        </li>
        <li>
          <a href="#address" data-toggle="tab">address</a>
        </li>
        <li>
          <a href="#Purpose" data-toggle="tab">Purpose</a>
        </li>
        <li>
          <a href="#Primary" data-toggle="tab">Primary</a>
        </li>
      </ul>

      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade show active" id="name-des">
          <p>Tutorials Point is a place for beginners in all technical areas. This website covers most of the latest technologies
            and explains each of the technology with simple examples. You also have a
            <b>tryit</b> editor, wherein you can edit your code and try out different possibilities of the examples.</p>
        </div>

        <div class="tab-pane fade" id="address">
          <p>iOS is a mobile operating system developed and distributed by Apple Inc. Originally released in 2007 for the iPhone,
            iPod Touch, and Apple TV. iOS is derived from OS X, with which it shares the Darwin foundation. iOS is Apple's
            mobile version of the OS X operating system used on Apple computers.</p>
        </div>


        <div class="tab-pane fade" id="Purpose">
          <p>iOS is a mobile operating system developed and distributed by Apple Inc. Originally released in 2007 for the iPhone,
            iPod Touch, and Apple TV. iOS is derived from OS X, with which it shares the Darwin foundation. iOS is Apple's
            mobile version of the OS X operating system used on Apple computers.</p>
        </div>


        <div class="tab-pane fade" id="Primary">
          <p>iOS is a mobile operating system developed and distributed by Apple Inc. Originally released in 2007 for the iPhone,
            iPod Touch, and Apple TV. iOS is derived from OS X, with which it shares the Darwin foundation. iOS is Apple's
            mobile version of the OS X operating system used on Apple computers.</p>
        </div>



      </div>


    </div>

  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="custo-c-right-btn">
     <ul>
       <li><a href="#">Skip</a></li>
       <li><a  routerLink="../contactinfo">Next</a></li>
       <li><a href="#"  >Next</a></li>
     </ul>
    
      </div> 
     </div>
    </div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="custo-c-right-btn">
      <ul>
        <li>
          <a href="#">Skip</a>
        </li>
        <li>
          <a href="#">Next</a>
        </li>
        <li>
          <a href="#">Next</a>
        </li>
      </ul>

    </div>
  </div>
</div> -->