<div class="row">
    <div class="col-sm-12">
        <div class="step-to-step">
            <h2>Vendor Registration</h2>
            <div class="step-n-y">
                <ul>
                    <li class="active">
                        <i class="fas fa-check"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-check"></i>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="custom-y-md">
    <div class="com-text">
        <p>Select the country/region from where you conduct business</p>

        <div class="deta-filter">
            <form>
                <div class="form-group custom-search-f" style="position: relative;">
                    <!-- <input type="text" placeholder="Filter" required="" name="search" value="" [(ngModel)]="country"> -->
                    
                   

                </div>

                <div class="traning-table-fourth-section">
                    <!-- <table class="table table-striped" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th style="padding-left: 22px;">
                                    <input type="checkbox" name="">
                                </th>
                                <th>
                                    <input type="text" placeholder="Country/region" name="">
                                </th>
                                <th>
                                    <input type="text" placeholder="Long name" name="">
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of countryArr">
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>{{item.country}}</td>
                                <td>{{item.longname}}</td>
                            </tr>

                        </tbody>
                    </table> -->
                   
                    <p-table #dt [value]="countryArr" [columns]="cols"  >
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">        
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                            <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of cols">
                                {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{item.country}}</td>
                                <td>{{item.longname}}</td>
                              
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </form>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="custo-c-right-btn">
            <ul>
                <li>
                    <a href="#">Skip</a>
                </li>
                <li>
                    <a routerLink="../companyinfo">Next</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>

        </div>
    </div>
</div>