<section class="Registration-bg-section">

    <div class="container">
    <div class="row">
    <div class="col-md-8 pd-r">
    <div class="custom-registration-l">
     <div class="logo">
      <a href="#"><img src="/src/assets/img/logo.png" class="img-fluid"></a>
    </div>  
  
    <form  [formGroup]="registrationForm" >
      <div class="registration-form">
  
        <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="companyName"><span> Company Name *</span></label>
                        <input type="text" required="" formControlName="companyName" id="companyName" class="from-new has-empty" value="">
                        <app-error-message [formName]="registrationForm" controlName="companyName" customControlName="Company Name" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                     
                       <!-- <div class="icon-n"><img src="img/user.png"></div> -->
                    </div>
                  </div>
  
                    <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="lineOfBusiness"><span> Line of bussiness *</span></label>
                        <input type="text" required="" formControlName="lineOfBusiness" id="lineOfBusiness" name="lineOfBusiness" class="from-new has-empty">
                        <app-error-message [formName]="registrationForm" controlName="lineOfBusiness" customControlName="Line of bussiness" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                      <!-- <div class="icon-n"><img src="img/password.png"></div> -->
                     
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="emailAddress"><span> Email Address*</span></label>
                        <input type="text" required=""  formControlName="emailAddress" id="emailAddress" name="emailAddress" class="from-new has-empty" value="">
                        <app-error-message [formName]="registrationForm" controlName="emailAddress" customControlName="Email Address" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                     
                       <!-- <div class="icon-n"><img src="img/user.png"></div> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="websiteAddress"><span> Website Address *</span></label>
                        <input type="text" required="" formControlName="websiteAddress" id="websiteAddress" name="websiteAddress" class="from-new has-empty" value="">
                        <app-error-message [formName]="registrationForm" controlName="websiteAddress" customControlName="Website Address " [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                     
                       <!-- <div class="icon-n"><img src="img/user.png"></div> -->
                    </div>
                  </div>
  
                   <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="businessJustification"><span> Business Justification *</span></label>
                        <input type="text" required="" formControlName="businessJustification"    id="businessJustification" name="businessJustification" class="from-new has-empty">
                        <app-error-message [formName]="registrationForm" controlName="businessJustification" customControlName="Business Justification" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                     
                      <!-- <div class="icon-n"><img src="img/password.png"></div> -->
                    </div>
                  </div>
  
  
                   <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="contactNumber"><span> Contact Number *</span></label>
                        <input type="text" formControlName="contactNumber" [appRestrictInput]="10" [formName]="registrationForm" controlName="contactNumber" required="" name="contactNumber" id="contactNumber" class="from-new has-empty">
                        <app-error-message [formName]="registrationForm" controlName="contactNumber" customControlName="Contact Number " [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                      <!-- <div class="icon-n"><img src="img/password.png"></div> -->
                    </div>
                  </div>
  
  
                   <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="organizationLocation"><span> Organization type *</span></label>
                        <input type="text" required="" formControlName="organizationType" id="organizationLocation" name="organizationLocation" class="from-new has-empty">
                        <app-error-message [formName]="registrationForm" controlName="organizationType" customControlName="Organization type" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                      <!-- <div class="icon-n"><img src="img/password.png"></div> -->
                    </div>
                  </div>
  
                   <!-- <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="login_password"><span> Processing Status *</span></label>
                        <input type="password" required=""  formControlName="processingStatus"  id="login_password" class="from-new has-empty">
                        <app-error-message [formName]="registrationForm" controlName="processingStatus" customControlName="Processing Status" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>                
                    </div>
                  </div> -->
  
  
                   <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="organizationLocation"><span> Organization Location *</span></label>
                        <input type="text" required="" formControlName="organizationLocation" name="organizationLocation" id="organizationLocation" class="from-new has-empty">
                        <app-error-message [formName]="registrationForm" controlName="organizationLocation" customControlName="Organization Location" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                      <!-- <div class="icon-n"><img src="img/password.png"></div> -->
                    </div>
                  </div>
  
                   <!-- <div class="col-md-6">
                    <div class="form-group" style="position: relative;">
                      <div class="pos-r">
                        <label class="form-label" for="login_password"><span> Processing *</span></label>
                        <input type="password" required="" formControlName="Processing" name="login_password" id="login_password" class="from-new has-empty">
                        <app-error-message [formName]="registrationForm" controlName="Processing" customControlName="Processing" [isFormInvalid]="isFormInvalid"></app-error-message>
                      </div>
                    </div>
                  </div> -->
  
                  <div class="col-md-12">
                    <div class="registation-btn">
                    <button class="btn" (click)="submitRegistrationForm()">Request For Registration</button>
                  </div>
                  </div>
  
                   <div class="col-md-12">
                    <div class="btn-text">Already have an account? <a routerLink="/login"> Login now</a></div>
                  </div>
  
                </div>
              </div>
               </form>
  
    </div> 
    </div>
  
    <div class="col-md-4 pd-l">
    <div class="custom-regi-right">
     <img src="/src/assets/img/registration-img.jpg" class="img-fluid"> 
  
    </div> 
    </div>
  
    </div>
    </div>