
 
 <section class="forgot-password">
 <div class="forgot-pass-bg">
 <div class="f-pass-logo">
   <img src="img/logo.png">
   <p>Reset your password</p>
 </div> 

  <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="form-group" style="position: relative;">
                    <div class="pos-r mr_b_20">
                      <label class="form-label" for="contact"><span> Email Address *</span></label>
                      <input type="email" required="" name="login_email" id="login_email" class="from-new has-empty" value="">
                      
                    </div>
                     <!-- <div class="icon-n"><img src="img/user.png"></div> -->
                  </div>
                </div>
               
            
                 <div class="col-md-12">
                  <button type="submit">Login <i class="fas fa-arrow-right"></i></button>
                </div>

              </div>

 </div> 
 </section>




